@model SchoolManagementSystem.Student

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    @Html.DisplayFor(model => model.SName)
    @Html.DisplayFor(model => model.FName)
</h2>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.S_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<div class="info-table table-responsive p-5 bg-white rounded ">
    <table class=" table text-nowrap table-hover table-borderless">
        <tbody>
            <tr>
                <td>
                    Name:
                </td>
                <td  class="font-weight-bold text-dark">
                    @Html.DisplayFor(model => model.SName)
                </td>
            </tr>

            <tr>
                <td>
                    Father Name:
                </td>
                <td class="font-weight-bold text-dark">
                    @Html.DisplayFor(model => model.FName)
                </td>
            </tr>
            <tr>
                <td>
                    Contact:
                </td>
                <td class="font-weight-bold text-dark">
                    @Html.DisplayFor(model => model.Contact)
                </td>
            </tr>
            <tr>
                <td>
                    Class:
                </td>
                <td class="font-weight-bold text-dark">
                    @Html.DisplayFor(model => model.Class)
                </td>
            </tr>
            <tr>
                <td>
                    Fee:
                </td>
                <td class="font-weight-bold text-dark">
                    @Html.DisplayFor(model => model.Fee) Rs
                </td>
            </tr>
            <tr>
                <td>
                    Gr_no:
                </td>
                <td class="font-weight-bold text-dark">
                    @Html.DisplayFor(model => model.GR_NO)
                </td>
            </tr>

        </tbody>

    </table>


</div>
