@model SchoolManagementSystem.Student

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.GR_NO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GR_NO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Class)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Class)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fee)
        </dd>


    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.SID }) // this renders the Details view to the Edit view!*@
    @Html.ActionLink("Back to List", "Index")
</p>
