<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - School Admin Panel</title>    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-inverse navbar-fixed-top bg-dark navbar-dark">
            @Html.ActionLink("School Management System", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

            @*<div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            </div>*@
            <ul class="nav navbar-nav navbar-expand">
                <li class="mx-1">@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="mx-1">@Html.ActionLink("About", "About", "Home")</liclass="mx-1">
                <li class="mx-1">@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
            @*<div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>*@
        </nav>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="text-center text-muted">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
